<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <!--<servlet>
    <description></description>
    <display-name>ServletMembre</display-name>
    <servlet-name>ServletMembre</servlet-name>
    <servlet-class>biblio.web.ServletMembre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMembre</servlet-name>
    <url-pattern>/ServletMembre</url-pattern>
  </servlet-mapping>
  <display-name>GestionBiblio</display-name>-->

  <servlet>
    <description></description>
    <display-name>ServletLivre</display-name>
    <servlet-name>ServletLivre</servlet-name>
    <servlet-class>biblio.web.ServletLivre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLivre</servlet-name>
    <url-pattern>*.java</url-pattern>
  </servlet-mapping>
<!--  <servlet>
    <description></description>
    <display-name>ServletEmprunt</display-name>
    <servlet-name>ServletEmprunt</servlet-name>
    <servlet-class>biblio.web.ServletEmprunt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEmprunt</servlet-name>
    <url-pattern>/ServletEmprunt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletStatistic</display-name>
    <servlet-name>ServletStatistic</servlet-name>
    <servlet-class>biblio.web.ServletStatistic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletStatistic</servlet-name>
    <url-pattern>/ServletStatistic</url-pattern>
  </servlet-mapping>-->
</web-app>